@font-face {
  font-family: "SFProDisplayRegular";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayMedium";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayBold";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
